<%- include('header'); -%>
<form action="/" method="post">
<div id="NewCard">
    <div id="Navbar">
        ADD NEW NOTES
    </div>
    <div id="card-content"><textarea name="Content" rows="15" style="width:99%; border: 0px solid;margin: 0%;resize: none;" autocomplete="off" ></textarea></div>
</div>
<button id="NoteSubmit" type="submit">ADD</button>
</form>
<%- include('footer'); -%>